<%- include('./partials/header.ejs') %>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline is-mobile">
              <% for(let i = 0; i < pokemons.length; i++) {%>

                <div class="box column is-one-quarter">
                    <article class="media">

                      <div class="media-left">
                        <figure class="image is-64x64">
                          <img src="<%= pokemons[i].img %>" alt="Image">
                        </figure>
                      </div>

                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong><%= pokemons[i].name %></strong><br> 
                            <small><%= pokemons[i].type %></small><br> 
                            <small>HP: <%= pokemons[i].stats["hp"] %></small><br>
                            <a class="button is-light is-small" href="pokedex/<%= pokemons[i].id %>">Learn more</a>
                            <br>
                          </p>
                        </div>
                      </div>
                    </article>
                  </div>
            <% } %>
          </div>
        </div>
    </section>
  </body>
</html>